@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --imagem-fundo: url("./imgs/imagemFundo.png");
    --font: 'Playfair Display', serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 24, 24);
    background-image: var(--imagem-fundo) ;
    padding: 2vw;
    display: block;
    font-family: var(--font);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    color: white;
    font-size: 4vh;
}
.menu{
    display: flex;
    gap:15%;
    width: 35vw;
    align-items: center;
    margin-left: 10vw;
}

.menu h2{
    color: white;
    font-size: 3vh;
}
.pesquisar{
    width: 18vw;
    border-radius: 2vw;
    height: 6vh;
    background-color: #D9D9D9;
    padding-left: 1vw;
    outline: none;
    margin-left: 5vw;
    font-size: 2vh;
}
main{
    /* background-color: aquamarine; */
    padding-top: 30vh;
    height: 100%;
}

.titulo{
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
     /* background-color: aquamarine; */
    position: relative;
    text-align: center;
}

.titulo h1{
    font-size: 16vw;
    color: white;
}
.titulo span{
    font-size: 20vw;
    color: white;
    opacity: 0.3;
    position:absolute;
    top: -45%;
}

.menuOculto{
    display: none;
    height: 100%;
    width: 20%;
    background-color: #c5c5c550;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    /* serve para quebrar o conteudo que exede o tamanho da div */
    text-overflow: ellipsis;
    padding-left: 2vw;
    padding-top: 4vh;
}

.menuOculto a{
    text-decoration: none;
    display: block;
    padding: 2vh;
    color: white;
    transition: 0.3s; 
}

.menuOculto a:hover{
    color: white;
}
.sair{
    position: absolute;
    top: 0;
    right: 2vw;
    font-size: 3rem;
    
}
.entrarMenu{
    font-size: 2rem;
    color: white;
}
.principalInicial{
    transition: 0.5s;
}
.principalInicial a{
    text-decoration: none;
    color: white;
    
}

.principalFinal{
    padding-left: 20vw;
}