:root{
    --imagem-fundo: url("./imgs/imagemFundo.png")
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 24, 24);
    background-image: var(--imagem-fundo) ;
    padding: 2vw;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    color: white;
}
.menu{
    display: flex;
    /* margin-left: 10vw; */
    gap: 10%;
    width: 20vw;
    background-color: aquamarine;
    align-items: center;
    justify-content: space-between;
}

.menu h2{
    color: white;
}
.pesquisar{
    width: 25vw;
    border-radius: 1vw;
    /* margin-left: 12vw; */
}